
<!-- table zwave_devices search -->
[#if VIEW_MODE="search_vakio_devices" || VIEW_MODE=""#]
<div class="row">
	<div class="col-md-4">
		<a href="?view_mode=edit_vakio_devices&data_source=<#DATA_SOURCE#>" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i><#LANG_ADD#></a>
		&nbsp;&nbsp;
		<!--# Кнопка 'Настройки'. #-->
		<a class="btn btn-default" href="#api_settings" data-toggle="collapse"><i class="glyphicon glyphicon-cog"></i></a>
		&nbsp;&nbsp;
		<a href="?view_mode=devices" class="btn btn-info"><i class="glyphicon glyphicon-th"></i> <#LANG_DEVICES#></a>
	</div>
	<div class="col-md-7">
		[#module name="xray" action="service" cycle="vakio"#]
	</div>
			<!--# Кнопка 'Справка'. #-->
	<div class="col-md-1">
		<a href="?view_mode=show_help" class="btn btn-default btn-sm float-right" title="Справка"><i class="glyphicon glyphicon-question-sign"></i></a>
	</div>
</div>
[#else#]
<a href="?view_mode=show_help" class="btn btn-default btn-sm float-right" title="Справка"><i class="glyphicon glyphicon-question-sign"></i></a>
[#endif VIEW_MODE#]
<div class="collapse" id='api_settings'>
&nbsp;
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
  <fieldset>
    <div class="form-group " style="margin-right: 0px;margin-left: 0px;">
      <label class="col-lg-2 col-md-4" style="max-width: 240px;float: left;padding: 5px 10px 0px 0px;text-align: right;">
        <#LANG_NEW_MQTT_CLIENT#>: <span style="color:red">*</span>
      </label>
      <div class="col-lg-10 col-md-8">
        <input type="text" name="mqtt_client" value="<#MQTT_CLIENT#>" class="form-control">
      </div>
    </div>
    <div class="form-group " style="margin-right: 0px;margin-left: 0px;">
      <label class="col-lg-2 col-md-4" style="max-width: 240px;float: left;padding: 5px 10px 0px 0px;text-align: right;">
        <#LANG_NEW_MQTT_HOST#>: <span style="color:red">*</span>
      </label>
      <div class="col-lg-10 col-md-8">
        <input type="text" name="mqtt_host" value="<#MQTT_HOST#>" class="form-control">
      </div>
    </div>
    <div class="form-group " style="margin-right: 0px;margin-left: 0px;">
      <label class="col-lg-2 col-md-4" style="max-width: 240px;float: left;padding: 5px 10px 0px 0px;text-align: right;">
        <#LANG_NEW_MQTT_PORT#>: <span style="color:red">*</span>
      </label>
      <div class="col-lg-10 col-md-8">
        <input type="text" name="mqtt_port" value="<#MQTT_PORT#>" class="form-control">
      </div>
    </div>

    <div class="form-group " style="margin-right: 0px;margin-left: 0px;">
      <label class="col-lg-2 col-md-4" style="max-width: 240px;float: left;padding: 5px 10px 0px 0px;text-align: right;">
        <#LANG_NEW_MQTT_REQ_AUTH#>:
      </label>
      <div class="col-lg-10 col-md-8">
        <input type="checkbox" style="height: 20px;width: 20px;" onchange="$('#mqtt_req_pass').toggle('slow');" name="mqtt_auth" value="1" [#if MQTT_AUTH="1" #] checked[#endif#]>
      </div>
    </div>

    <div id="mqtt_req_pass" style="display:none;">
      <div class="form-group " style="margin-right: 0px;margin-left: 0px;">
        <label class="col-lg-2 col-md-4" style="max-width: 240px;float: left;padding: 5px 10px 0px 0px;text-align: right;">
          <#LANG_NEW_MQTT_USERNAME#>:
        </label>
        <div class="col-lg-10 col-md-8">
          <input type="text" name="mqtt_username" value="<#MQTT_USERNAME#>" class="form-control">
        </div>
      </div>
      <div class="form-group " style="margin-right: 0px;margin-left: 0px;">
        <label class="col-lg-2 col-md-4" style="max-width: 240px;float: left;padding: 5px 10px 0px 0px;text-align: right;">
          <#LANG_NEW_MQTT_PASSWORD#>:
        </label>
        <div class="col-lg-10 col-md-8">
          <input type="text" name="mqtt_password" value="<#MQTT_PASSWORD#>" class="form-control">
        </div>
      </div>
    </div>

    <div class="form-group" style="margin-right: 0px;margin-left: 0px;">
      <div class="col-md-12 text-center">
        <button type="submit" name="subm" value="Submit" class="btn btn-success">
          <i class="glyphicon glyphicon-floppy-saved" style="font-size: 1.2rem;"></i>
          <#LANG_UPDATE#>
        </button>
        <input type="hidden" name="view_mode" value="update_settings">
        <input type="hidden" name="mode" value="update">
      </div>
    </div>
  </fieldset>
</form>
</div>
 <!-- action usual -->
 <!-- table vakio_devices search -->
 [#if VIEW_MODE="search_vakio_devices" || VIEW_MODE=""#]
  [#inc vakio_devices_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table vakio_devices search -->
   <!--# Справка по модулю. #-->
[#if VIEW_MODE="show_help"#]
   [#inc ./help_ru.html#] 
[#endif#]
 <!-- table vakio_devices edit -->
 [#if VIEW_MODE="edit_vakio_devices"#]
   [#if ID!=""#]
   [#if TITLE!=""#]<h4>[#TITLE#]</h4>[#endif TITLE#]
<ul class="nav nav-tabs">
  <li[#if TAB=""#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab="><#LANG_GENERAL#></a>
  </li>
  <li[#if TAB="data"#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=data">Свойства</a>
</ul>
&nbsp;<br/>
   [#endif ID#]
   [#if TAB=""#]
    [#inc vakio_devices_edit.html#]
   [#endif TAB#]
   [#if TAB="data"#]
    [#inc vakio_devices_edit_data.html#]
   [#endif TAB#]
 [#endif VIEW_MODE#]
 <!-- / table vakio_devices edit -->
 <!-- table devices -->
 [#if VIEW_MODE="devices"#]
   [#inc devices.html#]
 [#endif VIEW_MODE#]
 <!-- / table devices -->
 <!-- table vakio_devices view --> 
 [#if VIEW_MODE="view_vakio_devices"#]
   [#inc vakio_devices_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table vakio_devices view -->
